<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-toolbar color="primary">
      <span>Menú</span>
      <span class="espaciado"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="sedes" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon class="icono">folder</mat-icon>
        <span>Sedes y dependencias</span>
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a routerLink="almacenes" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon class="icono">folder</mat-icon>
        <span>Almacenes</span>
      </a>
    </mat-nav-list>

  <mat-nav-list>
    <a routerLink="calendarioFeriados" mat-list-item (click)="sidenav.toggle()">
      <mat-icon mat-list-icon class="icono">folder</mat-icon>
      <span>Calendarios Feriados</span>
    </a>
  </mat-nav-list>

<mat-nav-list>
  <a routerLink="calendarioAtencion" mat-list-item (click)="sidenav.toggle()">
    <mat-icon mat-list-icon class="icono">folder</mat-icon>
    <span>Calendario Atención</span>
  </a>
</mat-nav-list>

<mat-nav-list>
  <a routerLink="capacidadOperativa" mat-list-item (click)="sidenav.toggle()">
    <mat-icon mat-list-icon class="icono">folder</mat-icon>
    <span>Capacidad Operativa</span>
  </a>
</mat-nav-list>

<mat-nav-list>
  <a routerLink="diaAcomulativo" mat-list-item (click)="sidenav.toggle()">
    <mat-icon mat-list-icon class="icono">folder</mat-icon>
    <span>Día Acumulativo</span>
  </a>
</mat-nav-list>

<mat-nav-list>
  <a routerLink="registroProgramacionCitas" mat-list-item (click)="sidenav.toggle()">
    <mat-icon mat-list-icon class="icono">folder</mat-icon>
    <span>Registro de Programación de Citas</span>
  </a>
</mat-nav-list>

<mat-nav-list>
  <a routerLink="publiacionDeCitas" mat-list-item (click)="sidenav.toggle()">
    <mat-icon mat-list-icon class="icono">folder</mat-icon>
    <span>Publicación de citas</span>
  </a>
</mat-nav-list>


</mat-sidenav>



  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <img
      src="assets/images/logosvg.svg"
      alt="Logo de Migraciones"
      height="60px"
      width="auto"
    />

    <span class="espaciado"></span>

    <mat-icon>assignment_ind</mat-icon><h4>Nombre y Apellido</h4>
  </mat-toolbar>

  <!-- Acá empieza el renderizado de las páginas  -->
        <router-outlet></router-outlet>
</mat-sidenav-container>
