<!-- <div class="row mt-3 d-flex justify-content-center">
  <div class="col-4">
    <mat-card appearance="outlined" class="text-center">
      <mat-card-title>
        <div class="p-3">Proyecto base</div>
      </mat-card-title>
      <mat-card-content>
        <p class="p-3">Proyecto base para aplicaciones de la UDS - OTIC</p>
      </mat-card-content>
      <mat-card-footer>
        <div class="row">
          <div class="col-12 p-3">
            <button tabindex="-1" mat-flat-button color="accent">
              <mat-icon fontSet="fas" fontIcon="fa-plus"></mat-icon>
              Cancelar
            </button>
            <button tabindex="-1" mat-flat-button color="primary" (click)="fnIngresar()">
              <mat-icon fontSet="fas" fontIcon="fa-plus"></mat-icon>
              Ingresar
            </button>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div> -->

<app-header></app-header>
