<div class="container pt-5 pb-2">
    <div>
      <h4>Calendario de Atención</h4>
      <hr size="4px" color="#003888" />
    </div>
  </div>
  <app-selector></app-selector>
  <div class="container m-5">
    <div class="row d-flex align-items-start">
        <div class="col-2"></div>
        <div class="col-3">
            
                <mat-card>
                    <mat-card-content>
                        <div class="d-grid gap-2 col mx-auto">
                            <button class="btn btn-primary" type="button">Full Day</button>
                            <button class="btn btn-success" type="button">Tiempo completo</button>
                            <button class="btn btn-warning" type="button">Medio tiempo</button>
                            <span class="espacio"></span>
                            <button class="btn btn-secondary" type="button">Liberar día</button>
                            <button class="btn btn-secondary" type="button">Añadir</button>
                          </div>
                    </mat-card-content>
                </mat-card>
        </div>
        <div class="col-5">
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="selected"></mat-calendar>
              </mat-card>
        </div>
        <div class="col-2"></div>
    </div>
  </div>