<div class="row mt-5 d-flex justify-content-center text-center">
    <div class="col-6">
      <h1>Bienvenidos</h1>
  </div>
  </div>
  
  <div class="row d-flex justify-content-center">
  <div class="col-6">
    <mat-card appearance="outlined" class="text-center">
      <mat-card-title>
        <div class="p-3">Aplicación - Gestor de Citas
        </div>
      </mat-card-title>
      <mat-card-content>
        <p class="p-3">Proyecto base para aplicaciones de la UDS - OTIC</p>
      </mat-card-content>
      <mat-card-footer>
        <div class="row">
          <div class="col-12 p-3">          
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  </div>