<div class="container p-5">
    <div class="row">
      <div class="col">
        <h4>Almacenes secundarios</h4>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="jefaturaZonal">
      <mat-header-cell *matHeaderCellDef> Jefatura Zonal </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.jefaturaZonal}} </mat-cell>
    </ng-container>
  
    <!-- Dependencia -->
    <ng-container matColumnDef="dependencia">
      <mat-header-cell *matHeaderCellDef> Dependencia </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dependencia}} </mat-cell>
    </ng-container>
  
    <!-- Cantidad de libretas -->
    <ng-container matColumnDef="cantidadDeLibretas">
      <mat-header-cell *matHeaderCellDef> Cantidad de Libretas </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cantidadDeLibretas | number}} </mat-cell>
    </ng-container>
  
    <!-- Porcentaje -->
    <ng-container matColumnDef="porcentajedeLibretas">
      <mat-header-cell *matHeaderCellDef> Porcentaje </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.porcentajedeLibretas | percent }} </mat-cell>
    </ng-container>

    <!-- Activo -->
    <ng-container matColumnDef="activo">
      <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.activo}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

        

        
