<div class="container p-5">
  <div>
    <h4>Configuración de Sedes y dependencias</h4>
    <hr size="4px" color="#003888"/>
  </div>
</div>

<app-seleccion-sedes></app-seleccion-sedes>

<div class="container p-5">
    <div class="row">
        <div class="col">
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="jefaturaZonal">
              <mat-header-cell *matHeaderCellDef> Jefatura Zonal </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.jefaturaZonal}} </mat-cell>
            </ng-container>
          
            <!-- Dependencia -->
            <ng-container matColumnDef="dependencia">
              <mat-header-cell *matHeaderCellDef> Dependencia </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.dependencia}} </mat-cell>
            </ng-container>

            <!-- Activo -->
            <ng-container matColumnDef="activo">
              <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.activo}} </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
    </div>
</div>


<!-- <app-boton-agregar 
[jefaturasyDependencias]="jefaturasyDependencias"
(onNuevaJefatura)="agregarNuevaJefatura($event)"


></app-boton-agregar> -->

<div class="mb-5"></div>