<div class="container p-5">
    <div>
      <h4>Configuración de Día acumulativo</h4>
      <hr size="4px" color="#003888" />
    </div>
  </div>

  <mat-card class="container">
    <mat-card-content>
        <div class="row text-center align-items-center">
            <div class="col">
              <app-seleccion-jefaturas></app-seleccion-jefaturas>
            </div>
            <div class="col">
                <app-seleccion-dependencias></app-seleccion-dependencias>
            </div>
            <div class="col-2">
                <button mat-raised-button color="primary">Buscar<mat-icon>search</mat-icon></button>
            </div>
        </div>
        
    </mat-card-content>
  </mat-card>


  <div class="container mt-4">
    <div class="row">
        <div class="col-2"></div>
        
        <div class="col-8">
            <h4>Horario</h4>
            <mat-card class="container">
                <mat-card-content>
                    <div class="row">
                        <div class="col-2">
                        </div>
                        
                        <div class="col-4">
                            <div class="box">
                                <div class="header-box">
                                    <mat-checkbox><span class="box-title">Día</span></mat-checkbox>
                                </div>
                                <div class="box-content">

                                    <mat-form-field appearance="fill" class="mt-4 mb-4">
                                        <mat-label>Día</mat-label>
                                        <mat-select>
                                          <mat-option value="1">Lunes</mat-option>
                                          <mat-option value="2">Martes</mat-option>
                                          <mat-option value="3">Miércoles</mat-option>
                                          <mat-option value="4">Jueves</mat-option>
                                          <mat-option value="5">Viernes</mat-option>
                                          <mat-option value="6">Sábado</mat-option>
                                          <mat-option value="7">Domingo</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="box">
                                <div class="header-box">
                                    <mat-checkbox><span class="box-title">Hora</span></mat-checkbox>
                                </div>
                                <div class="box-content">
                                    <mat-form-field appearance="fill" class="mt-4 mb-4">
                                        <mat-label>Hora</mat-label>
                                        <mat-select>
                                          <mat-option value="1">00:00</mat-option>
                                          <mat-option value="2">01:00</mat-option>
                                          <mat-option value="3">02:00</mat-option>
                                          <mat-option value="4">03:00</mat-option>
                                          <mat-option value="5">04:00</mat-option>
                                          <mat-option value="6">05:00</mat-option>
                                          <mat-option value="7">06:00</mat-option>
                                          <mat-option value="8">07:00</mat-option>
                                          <mat-option value="9">08:00</mat-option>
                                          <mat-option value="10">09:00</mat-option>
                                          <mat-option value="11">10:00</mat-option>
                                          <mat-option value="12">11:00</mat-option>
                                          <mat-option value="13">12:00</mat-option>
                                          <mat-option value="14">13:00</mat-option>
                                          <mat-option value="15">14:00</mat-option>
                                          <mat-option value="16">15:00</mat-option>
                                          <mat-option value="17">16:00</mat-option>
                                          <mat-option value="18">17:00</mat-option>
                                          <mat-option value="19">18:00</mat-option>
                                          <mat-option value="20">19:00</mat-option>
                                          <mat-option value="21">20:00</mat-option>
                                          <mat-option value="22">21:00</mat-option>
                                          <mat-option value="23">22:00</mat-option>
                                          <mat-option value="24">23:00</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto pt-4 pb-2">
                        <button mat-raised-button color="primary"><mat-icon>save</mat-icon>Guardar</button>
                      </div>
                </mat-card-content>
              </mat-card>
        
          </div>



        <div class="col-2"></div>
    </div>
  </div>
  
  

  
