<mat-card class="container col-8 pt-3">
  <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="save()" class="row d-flex">
        <div class="col-4 text-center">
            <span>Jefatura Zonal</span>
        <mat-form-field class="mt-2">
          <mat-label>Seleccionar</mat-label>
          <mat-select
            formControlName="categoryId"
            (selectionChange)="onCategoryChange($event)">
            <mat-option *ngFor="let jefaturas of jefaturas"[value]="jefaturas.id">{{ jefaturas.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <div class="col-4 text-center">
            <span>Dependencia</span>
            <mat-form-field class="mt-2">
                <mat-label>Dependencias</mat-label>
                <mat-select formControlName="productId">
                  <mat-option
                    *ngFor="let dependencias of dependencias"
                    [value]="dependencias.id"
                  >
                    {{ dependencias.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-4 text-center pb-4">
            <mat-checkbox checked="checked" class="example-margin"
              >Ver todos</mat-checkbox
            >
            <button mat-raised-button color="primary" class="ms-2 mx-2">
              Buscar
            </button>
            <button mat-raised-button color="primary">Añadir</button>
          </div>
      </form>
   
      </mat-card-content>
      </mat-card>
      


      
      
