@import "variables";
@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/css/solid.min.css";
@import 'material-icons/iconfont/material-icons.scss';
@import "reset";

@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1rem;
  background: rgba(252,252,252,1);
  background: -moz-linear-gradient(left, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 49%, rgba(235,235,235,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,252,252,1)), color-stop(49%, rgba(242,242,242,1)), color-stop(100%, rgba(235,235,235,1)));
  background: -webkit-linear-gradient(left, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 49%, rgba(235,235,235,1) 100%);
  background: -o-linear-gradient(left, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 49%, rgba(235,235,235,1) 100%);
  background: -ms-linear-gradient(left, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 49%, rgba(235,235,235,1) 100%);
  background: linear-gradient(to right, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 49%, rgba(235,235,235,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ebebeb', GradientType=1 );
}

