.box {

    height: auto;
    width: auto;
    text-align: center;
    border: 2px solid #00489a;
    border-radius: 10px;

}


.header-box {
    height: 50px;
    background-color: #00489a;
    width: auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 5px 10px 0 0;

}

.box-title {
    color: #ffffff;
    font-size: 1.2rem;

}

.horario {
    font-size: 1.2rem;
    padding: 20px 0 20px 0;

}

.porcentaje {
    padding: 0 0 20px 0;


}